<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

        <a class="logo-wrapper waves-effect">
            <!-->img src="../../../../assets/img/FestivalGK4.png" class="img-fluid" style="align-self: left;" alt=""-->
        </a>       

        <div class="list-group list-group-flush">


            <a  routerLink="dashboard" 
                routerLinkActive="active" 
                class="list-group-item list-group-item-action waves-effect">                                                
                <mdb-icon fas icon="server" class="mr-3"></mdb-icon>
                Рабочий стол
            </a>
            <a  routerLink="services" 
                routerLinkActive="active" 
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="business-time" class="mr-3"></mdb-icon>
                Услуги
            </a>
            <a  routerLink="neighbors" 
                routerLinkActive="active" 
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="users" class="mr-3"></mdb-icon>
                Соседи
            </a>
            <a  routerLink="village" 
                routerLinkActive="active" 
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="city" class="mr-3"></mdb-icon>
                Поселок
            </a>
        </div>

    </div>
    <!-- Sidebar -->

    <!--Navbar-->
    <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white">

        <!-- Navbar brand -->
        <logo class="ml-3">
            <a class="logo-wrapper waves-effect">
                <img src="../../../../assets/img/FestivalGK6.png" class="img-fluid" style="align-self: left;" alt="">
            </a>   
        </logo>

        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
            </ul>
            <!-- Links -->

            <!-- Search form -->
            <ul class="navbar-nav nav-flex-icons">

                    <li class="nav-item">
                        <a  class="nav-link" 
                            href="#" 
                            target="_blank" 
                            mdbWavesEffect>
                            Правление</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link" 
                            href="#" 
                            target="_blank" 
                            mdbWavesEffect>
                            Суд
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.facebook.com" class="nav-link" target="_blank" mdbWavesEffect>
                            <mdb-icon fab icon="facebook-f"></mdb-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://twitter.com" class="nav-link" target="_blank" mdbWavesEffect>
                            <mdb-icon fab icon="twitter"></mdb-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="ml-1 nav-link border border-light rounded" mdbWavesEffect>
                            <mdb-icon far icon="gem" class=" left"></mdb-icon> Профиль</a>
                    </li>
                </ul>
        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

</header>
<!--Main Navigation-->