<div class="row">

        <div class="col-md-9">
    
            <!--Projects section v.2-->
            <section class="section text-center pb-3">
    
                <!--Section heading-->
                <!--h2 class="section-heading h1 pt-4"><strong>Доступные услуги</strong></h2-->
                <!--Section description-->
    
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
    
                    <!--Grid column-->
                    <div class="col-lg-6 col-xl-5 mb-3">
                        
                                            <!--Card-->
                                            <div class="card card-cascade narrower d-flex mb-5">
                        
                                                <!--Card image-->
                                                <div class="view overlay hm-white-slight">
                                                    <img src="../../../../assets/img/carAccess.jpg" class="img-fluid" alt="">
                                                    <a href="#">
                                                        <div class="mask"></div>
                                                    </a>
                                                </div>
                                                
                                                <!--Card content-->
                                                <div class="card-body">
                                                    <!--Title-->
                                                    <h4 class="card-title font-bold mb-3"><strong>Заказ пропуска на машину</strong></h4>
                                                    <!--Text-->
                                                    <p class="card-text">Здесь вы можете оформить постоянный пропуск на въезд автомобиля в поселок,
                                                        а так же гостевой визит.
                                                    </p>
                                                </div>
                        
                                                <!--Card footer-->
                                                <div class="card-footer links-light">
                                                    <span class="right"> 
                                                        <a href="" class="waves-effect p-2">Заказать <mdb-icon fas icon="car" class="ml-1"></mdb-icon></a>
                                                    </span>
                                                </div>
                        
                                            </div>
                                            <!--/.Card-->
                        
                                        </div>
                    <!--Grid column-->
    
                    <!--Grid column-->
                    <div class="col-lg-6 col-xl-5 mb-3">
    
                        <!--Card-->
                        <div class="card card-cascade narrower d-flex mb-5">
    
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="../../../../assets/img/Repair.jpg" class="img-fluid" alt="">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
    
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title font-bold mb-3"><strong>Вызов слесаря-сантехника</strong></h4>
                                <!--Text-->
                                <p class="card-text">Здесь вы можете оформить заявку на мелкий ремонт вашего дома силами специалистов управляющей компании
                                </p>
                            </div>
    
                            <!--Card footer-->
                            <div class="card-footer links-light">
                                <span class="right"> 
                                    <a href="" class="waves-effect p-2">Заказать <mdb-icon fas icon="tools" class="ml-1"></mdb-icon></a>
                                </span>
                            </div>
    
                        </div>
                        <!--/.Card-->
    
                    </div>
                    <!--Grid column-->
    
                </div>
                <!--Grid row-->
    
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
    
                    <!--Grid column-->
                    <div class="col-lg-6 col-xl-5 mb-3">
    
                        <!--Card-->
                        <div class="card card-cascade narrower d-flex mb-5">
    
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="../../../../assets/img/man.jpg" class="img-fluid" alt="">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
    
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title font-bold mb-3"><strong>Показания счетчиков</strong></h4>
                                <!--Text-->
                                <p class="card-text">Здесь вы можете подать информацию о водяных счетчиках вашего дома
                                </p>
                            </div>
    
                            <!--Card footer-->
                            <div class="card-footer links-light">
                                <span class="right"> 
                                    <a href="" class="waves-effect p-2">Передать <mdb-icon fas icon="receipt" class="ml-1"></mdb-icon></a>
                                </span>
                            </div>
    
                        </div>
                        <!--/.Card-->
    
                    </div>
                    <!--Grid column-->
    
                    <!--Grid column-->
                    <div class="col-lg-6 col-xl-5 mb-3">
    
                        <!--Card-->
                        <div class="card card-cascade narrower d-flex mb-5">
    
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="../../../../assets/img/playground.jpg" class="img-fluid" alt="">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
    
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title font-bold mb-3"><strong>Регистрация рабочей бригады</strong></h4>
                                <!--Text-->
                                <p class="card-text">Здесь вы можете зарегистрировать рабочую бригаду при проведении ремонтных работ в поселке
                                </p>
                               
                            </div>
    
                            <!--Card footer-->
                            <div class="card-footer links-light">
                                <span class="right"> 
                                    <a href="" class="waves-effect p-2">Заказать <mdb-icon fas icon="registered" class="ml-1"></mdb-icon></a>
                                </span>
                            </div>
    
                        </div>
                        <!--/.Card-->
    
                    </div>

                </div>
                <!--Grid row-->
    
            </section>
        </div>   
    </div>